* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.sidebar-container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 200px;
  background-color: #1e477eff;
  color: #d6e3ffff;
  height: 100vh;
  overflow-y: auto;
  transition: width 0.5s ease-in-out;
}

.sidebar .link-text {
  font-weight: bold;
  font-size: 18px;
  color: #6e91ceff; 
  text-decoration: none; 
  background-image: linear-gradient(to right, #6e91ceff, #d6e3ffff);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
}

.sidebar.open {
  width: 220px;
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}


.sidebar.closed {
  width: 50px;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.logo {
  font-size: 20px;
}

.bars {
  width: 40px;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}

.search-icon {
  color: white;
}

.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);
  color: rgb(3, 0, 0);
  padding: 5px;
  width: 100%;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-decoration: none;
}

.link:hover {
  border-right: 4px solid #003063ff;
  border-left: 4px solid #003063ff;
  background-image: linear-gradient(to right, #003063ff, #003063ff);
  color: #ffffff; 
  text-shadow: 1px 1px 2px #d6e3ffff;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.active {
  border-right: 4px solid #003063ff;
  border-left: 4px solid #003063ff;
  background: #5478b2ff;
  background-image: linear-gradient(to right, #003063ff, #003063ff);
  text-decoration: none;
}

.active .link-text {
  font-weight: bold;
  color: #003063ff;
}

.link-text {
  white-space: nowrap;
  font-size: 15px;
}

main {
  width: 100%;
  padding: 20px;
  background-color: #d6e3ffff;
}
